// COULEURS
$color1: #FF6060;
$color2: #C4C4C4;

$color-white: #FFFFFF;

// ARRIÈRE-PLANS
$background1: #E5E5E5;
$background2: #F6F6F6;
$background3: #E3E3E3;

// TYPOGRAPHIE
$font-family-primary: 'Montserrat';
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

// BREAKPOINTS RESPONSIVE DESIGN
$breakpoints: ( 
   smartphone: 650px,
);
