@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';
//style card
.logement-card{
   border-radius: 10px;
   position: relative;
      &__overlay{
         box-shadow: inset -1px -81px 84px -37px #000;
         inset: 0;
         position: absolute;
         border-radius: 10px;
      }
      &__img{
         object-fit: cover;
         height: 100%;
         width: 100%;
         border-radius: 10px;
      }   
      &__titre{
         position: relative;
         font-size: 18px;
         font-weight: $font-medium;
         color:$color-white;
         margin-left: 7px;
         top: -77px;
      }
}