
@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.navbar{
      @include flex (row, space-between, center);
      height: 68px;
      margin-bottom: 40px;
      margin-top: 40px;
      @include responsive(smartphone){
           
      }
            
      &__log{
            width: 54px;
      }
      &__nav{
            @include responsive(smartphone){
                  display: flex;
                  flex-wrap: wrap;
               }
            &__link{
                  margin-left: 57px;
                  font-size: 24px;
                  @include responsive(smartphone){
                        font-size: 14px;
                        margin-left: 30px;
                        text-transform: uppercase;
                  }
                  color :$color1;
                  
                  &.active{
                        border-bottom:1px solid $color1;
                  }
            }
      }
     
}
